:root {
	--main-container-width: 63.33333333333333vw; /* 1216px */
	--main-container-height: 37.5vw; /* 720px */

	--nav-button-width: 11.4vw; /* 228px */
	--nav-button-font: 2.864583333333333vw; /* 55px */

	--modal-width: 46.25vw; /* 888px */
	--modal-column-width: 14.583333333333334vw; /* 280px */
	--modal-close-button-size: 2.5vw;

	--border-radius: 1.6666666666666667vw; /* 32px */
	--spacing: 1.6666666666666667vw; /* 32px */

	--header-font-size: 3.3854166666666665vw; /* 65px */
	--card-font-size: 1.1458333333333333vw; /* 22px */

	--background: radial-gradient(circle at center, white 10%, #ccf7f4, #7bb5e6);
	--accent-color: #ff3f62;

	--link: #ff3056;
	--secondary-color: #1a1a1a;

	--shadow: 0vw 0.84vw 0.8vw rgba(0, 0, 0, 0.32);
}

@font-face {
	font-family: 'Museo';
	src: url('../static/Fonts/GoghVariableGX.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	background-image: var(--background);
	font-family: Museo, sans-serif;
	width: 100vw;
	height: 100vh;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;

	transition: transform 0.6s ease-out, filter 0.6s ease-out;
}

.main-container {
	position: relative;
	width: var(--main-container-width);
	height: var(--main-container-height);
	margin: calc((100vh - var(--main-container-height)) / 2) auto;
	overflow: hidden;
}

nav {
	height: var(--main-container-height);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: calc(var(--spacing) * 2);
	padding-left: var(--spacing);
}

.nav-button {
	width: fit-content;
	padding: 0 var(--spacing) 0.3125vw var(--spacing);
	background-color: rgba(255, 255, 255, 1);
	font-size: var(--nav-button-font);
	line-height: 4vw;
	font-variation-settings: 'wght' 600;
	box-shadow: var(--shadow);
	transition: transform 0.8s ease-out, border-radius 0.8s ease-out;
	position: relative;
	cursor: pointer;
}

.nav-button > span {
	 /* color: var(--accent-color); */
	 color: #639cf6;
}

.nav-button-about {
	left: 8vw;
	transform: translateX(0);
	border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
}

.nav-button-projects {
	left: 44vw;
	transform: translateX(0);
	border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
}

.nav-button-contact {
	left: 14vw;
	transform: translateX(0);
	border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
}

.modal {
	position: absolute;
	top: 0;
	left: calc(var(--main-container-width) + var(--spacing));
	
	height: var(--main-container-height);
	width: var(--modal-width);
	transform: translateX(0);
	transition: transform 0.8s ease-out;

	font-size: var(--card-font-size);
	color: var(--secondary-color);
	padding: 0 var(--spacing);
}

.modal-header {
	display: flex;
	align-items: center;
	margin-bottom: var(--spacing);
}

.modal-header-text {
	font-size: var(--header-font-size);
	font-variation-settings: 'wght' 375;
	padding-right: calc(var(--spacing) / 2);
}

.modal-header-line {
	flex-grow: 1;
	background-image: url(../static/vector-repeat.svg);
  background-size: contain;
	background-repeat: repeat-x;
	height: 1.5vw;
	clip-path: inset(0 100% 0 0);
	transition: clip-path 0.6s ease-in 0.8s;
}

.modal-close-button {
	width: var(--modal-close-button-size);
	height: var(--modal-close-button-size);
	background-color: var(--accent-color);
	border-radius: 50%;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: calc(var(--spacing) / 2);
	padding: 0.2vw;
}

.modal.active {
	transform: translateX(calc(var(--modal-column-width) - var(--main-container-width)));
}

.modal-opened .nav-button-about {
	border-radius: var(--border-radius);
	transform: translateX(-8vw);
}

.modal-opened .nav-button-projects {
	border-radius: var(--border-radius);
	transform: translateX(-44vw);
}

.modal-opened .nav-button-contact {
	border-radius: var(--border-radius);
	transform: translateX(-14vw);
}

.modal.active .modal-header-line {
	clip-path: inset(0 0 0 0);
}

.modal-opened .webgl {
	transform: translateX(-50vw) scale(1.5);
	filter: blur(0.4vw);
}

.modal-about-card {
	display: inline-block;

	width: calc(var(--modal-column-width) * 2);
	background-color: white;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	padding: var(--spacing);
}

.modal-about-card p {
	margin-bottom: var(--spacing);
}

.modal-about-photo {
	width: calc(var(--modal-column-width) / 2);
	height: calc(var(--modal-column-width) / 2);
	background-color: white;
	border-radius: var(--border-radius);

	display: inline-block;
	margin-left: var(--spacing);

	vertical-align: top;
	box-shadow: var(--shadow);
}

.modal-projects {
	padding: 0 var(--spacing);
}

.modal-projects > .modal-header {
	margin-bottom: 0;
}

.modal-projects-cards-container {
	overflow-x: scroll;
	padding: var(--spacing) 0;
}

.modal-projects-cards-scroll {
	width: calc(var(--modal-column-width) * 4 + var(--spacing) * 4);
}

::-webkit-scrollbar {
	width: 0.52vw;
	height: 0.8vw;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.16vw rgba(0, 0, 0, 0.32); 
	border-radius: 0.52vw;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.52vw;
	background-color: #c1c1c1;
}

.modal-projects-card {
	width: var(--modal-column-width);
	background-color: white;
	border-radius: var(--border-radius);

	padding: var(--spacing);
	margin: 0 var(--spacing) var(--spacing) 0;

	display: inline-block;
	vertical-align: top;
	box-shadow: var(--shadow);
	position: relative;
}

.modal-projects-card > p {
	margin-bottom: var(--spacing);
}

.modal-projects-card-site {
	text-align: center;
}

.modal-projects-card-title {
	width: 50%;
	font-variation-settings: 'wght' 560;
	font-size: calc(var(--header-font-size) / 2);

	margin-bottom: var(--spacing);
}

.modal-projects-card-image {
	position: absolute;
	top: -0.8vw;
	right: -0.8vw;
	width: 6vw;
	height: 6vw;
	border-radius: var(--border-radius);
	background-color: blue;
}

.modal-contact-card {
	width: calc(var(--modal-column-width) * 2);
	background-color: white;
	border-radius: var(--border-radius);

	padding: var(--spacing);
	box-shadow: var(--shadow);
}

.modal-contact-card p {
	margin-bottom: var(--spacing);
}

.card-contact {
	display: flex;
	align-items: center;
}

.card-contact svg {
	width: 2vw;
	margin-right: 0.8vw;
	fill: var(--link);
}

a, .link {
	color: var(--link);
	font-variation-settings: 'wght' 560;
	text-decoration: underline;
	cursor: pointer;
}
